@import "../../assets/styles/colors.scss";
@import '../../assets/fonts/fonts';

header {
  background: $dirty-blue;
  display: flex;
  height: 60px;
  color: $white;

  h1 {
    align-self: center;
    font-family: $yanone-kaffeesatz;
    font-weight: 300;
    margin: 0 0 0 15px;

    &:after {
      content: '\f2ba';
      font: 30px FontAwesome;
      margin-left: 15px;
    }
  }
  menu {
    padding: 0;
    margin: 0;
    align-self: center;
    width: 40px;
  }
}