<div class="applicant-dashboard-header">
    <h1 class="applicant-dashboard-title">Кандидаты</h1>
    <nav class="applicant-dashboard-nav">
        <button class="create-applicant-button" [routerLink]="['/applicants/create']">Создать кандидата</button>
    </nav>
</div>
<div class="applicant-dashboard">
    <div class="table-row header">
        <div class="column applicant-name">Имя</div>
        <div class="column applicant-status">Статус</div>
        <div class="column position">Позиция</div>
        <div class="column project">Проект</div>
        <div class="column primary-skill">Первичный навык</div>
    </div>
    <div *ngFor="let applicant of applicants" class="table-row">
        <div class="column applicant-name">
            <a [routerLink]="[applicant.id]">{{applicant.firstName}} {{applicant.lastName}}</a>
        </div>
        <div class="column applicant-status">{{applicant.status}}</div>
        <div class="column position">{{applicant.position.role}}</div>
        <div class="column project">{{applicant.project}}</div>
        <div class="column primary-skill">{{applicant.primarySkill}}</div>
    </div>
    <div *ngIf="applicants && !applicants.length">
        <empty-content
                [message]="'Нет созданных кандидатов. Вы можете создать нового кандидата нажав кпопку <Создать Кандидата>'"
        ></empty-content>
    </div>
</div>