<div class="position-dashboard">
    <div class="table-row header">
        <div class="column position-code">Код позиции</div>
        <div class="column position-name">Название позиции</div>
        <div class="column project">Проект</div>
        <div class="column salary">Заработная плата</div>
        <div class="column description">Описание</div>
    </div>
    <div *ngFor="let position of positions" class="table-row">
        <div class="column position-code">{{position.code}}</div>
        <div class="column position-name"><a [routerLink]="[position.id]">{{position.name}}</a></div>
        <div class="column project">{{position.project}}</div>
        <div class="column salary">{{position.salary | currency:'USD':true}}</div>
        <div class="column description">{{position.description}}</div>
    </div>
</div>