@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/yanone-kaffeesatz/yanone_kaffeesatz_light.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/RobotoCondensed/RobotoCondensed.woff2') format('woff2');
}

$yanone-kaffeesatz: 'Yanone Kaffeesatz', 'sans-serif';
$roboto-condensed: 'Roboto Condensed', 'sans-serif';
