@import "../../../assets/styles/colors.scss";
@import '../../../assets/fonts/fonts';

.menu-button {
  width: 40px;
  border: none;
  color: $white;
  background: rgba($dirty-blue, 0);
  font-size: 25px;
  cursor: pointer;
  transition: font-size 0.3s;
  z-index: 1;
  outline: none;
  position: absolute;
  top: 0;
  line-height: 60px;

  &:hover {
    font-size: 30px;
  }
}

.menu-title {
  color: $dark-dirty-blue;
  padding-left: 55px;
  margin-bottom: 15px;
}

.staf-app-menu {
  width: 260px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  background: $dirty-blue;
  padding: 20px 0;
  color: $white;
  transform: translateX(-280px);
  transition: transform 0.5s;
  border-top: 1px solid $white;

  a {
    color: $white;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 55px;
    transition: background 0.3s;

    &:hover {
      background: $dark-dirty-blue;
    }
  }
}

.open {
  transform: translateX(0);
}

.overlay {
  display: none;
  width: calc(100% - 280px);
  height: 100%;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  margin-left: 280px;

}

.staf-app-menu.open + .overlay {
  display: block;
}