<div *ngIf="position">
    <div class="position-profile-header">
        <header>
            <h1>{{position.role}}</h1>
            <h3 class="position-code">{{position.code}}</h3>
        </header>
        <nav class="position-nav">
            <button class="button edit-button" [routerLink]="['/positions/edit', position.id]"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button class="button delete-button" (click)="deletePosition(position)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </nav>
    </div>
    <div class="position-profile-body">
        <ul class="position-profile-content">
            <li class="position-profile-content-item"><span>Название позиции: </span>{{position.role}}</li>
            <li class="position-profile-content-item"><span>Код позиции: </span>{{position.code}}</li>
            <li class="position-profile-content-item"><span>Статус: </span>{{position.positionStatus}}</li>
            <li class="position-profile-content-item"><span>Проект: </span>{{position.project}}</li>
            <li class="position-profile-content-item"><span>Заработная плата: </span>{{position.salary | currency:'USD':true}}</li>
            <li class="position-profile-content-item"><span>Первичный навык: </span>{{position.primarySkill}}</li>
            <li class="position-profile-content-item">
                <span>Кандидаты: </span>
                <ul>
                    <li *ngFor="let candidate of position.candidates">
                        <a [routerLink]="[candidate.type === 'Employee' ? '/employees' : '/applicants', candidate.id]">
                            {{candidate.firstName}} {{candidate.lastName}}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="position-profile-content-item"><span>Планируемая дата начала: </span>{{position.plannedStartDate | date}}</li>
            <li class="position-profile-content-item"><span>Описание: </span><span class="description">{{position.description}}</span></li>
        </ul>
        <div class="position-proposals">
            <div class="position-proposals-header">
                <h1 class="position-proposals-title">Предложенные работники</h1>
            </div>
            <div class="position-proposals-body">
                <span class="search-type" (click)="toggleSearchTypesDropdown()">Искать {{searchType === 'Employee' ? 'Сотрудника' : 'Кандидата'}}</span>
                <ul *ngIf="searchTypeDropdownOpen" class="search-types-list" (click)="selectSearchType($event)">
                    <li data-value="Employee">Искать сотрудника</li>
                    <li data-value="Applicant">Искать кандидата</li>
                </ul>
                <autocomplete class="autocomplete" [items]="candidates" [(selectedItem)]="selectedCandidate" [placeholder]="placeholderText"></autocomplete>
                <multi-actions-button [buttons]="candidateActions"></multi-actions-button>
            </div>
            <div *ngIf="position.candidates" class="position-candidates-dashboard">
                <div class="table-row header">
                    <div class="column candidate-name">Имя</div>
                    <div class="column candidate-status">Статус кандидата</div>
                    <div class="column position">Позиция</div>
                    <div class="column project">Проект</div>
                    <div class="column primary-skill">Первичный навык</div>
                </div>
                <div *ngFor="let candidate of position.candidates" class="table-row">
                    <div class="column candidate-name">
                        <a [routerLink]="[candidate.type === 'Employee' ? '/employees' : '/applicants', candidate.id]">
                            {{candidate.firstName}} {{candidate.lastName}}
                        </a>
                    </div>
                    <div class="column candidate-status">
                        <entity-status-dropdown
                                [entity]="candidate"
                                [statuses]="availableStatuses[candidate.status]"
                                [onStatusChange]="onStatusChange"
                        >
                        </entity-status-dropdown>
                    </div>
                    <div class="column position">{{candidate.position}}</div>
                    <div class="column project">{{candidate.project}}</div>
                    <div class="column primary-skill">{{candidate.primarySkill}}</div>
                </div>
            </div>
        </div>
    </div>
</div>