@import '../../../assets/styles/colors';
@import '../../../assets/styles/sizes';

.position-profile-header {
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
  background: lighten($light-gray, 20%);
  color: $dark-dirty-blue;

  .position-code {
    font-weight: normal;
  }

  .button {
    border: none;
    background: lighten($light-gray, 20%);
    font-size: 30px;
    color: $gray;
    transition: color 0.3s;
    cursor: pointer;
    padding: 0;

    &:hover {
      color: $dark-dirty-blue;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.position-profile-body {
  display: flex;
}

.position-profile-content {
  width: 40%;
  padding: 30px;
  background: $white-gray;
  border-top: 5px dashed $white;
}

.position-profile-content-item {
  padding: 10px 0;
  border-bottom: 1px solid $white;
  display: flex;
  align-items: center;

  span {
    margin-right: 10px;
  }

  &:first-child {
    border-top: 1px solid $white;
  }

  span:not(.description) {
    display: inline-block;
    width: 30%;
    font-size: 16px;
    text-transform: uppercase;
  }

  .description {
    width: 70%;
  }
}

.position-proposals {
  width: 60%;
  padding: 30px;
}

.position-proposals-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.position-proposals-body {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.position-proposals-title {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 24px;
  color: $dark-dirty-blue;
}

.search-type {
  padding: 5px 30px 5px 15px;
  display: inline-block;
  border-bottom: 1px solid gray;
  min-width: 125px;
  font-size: 16px;
  position: relative;
  cursor: pointer;

  &:after {
    content: '\f107';
    font: 25px FontAwesome;
    color: $gray;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translate(0, -50%);
  }

  &:hover:after {
    color: $dirty-blue;
  }
}

.search-types-list {
  position: absolute;
  width: 170px;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 1px 2px 1px $gray;
  bottom: -100px;
  background: $white;

  li {
    padding: 10px 5px;
    cursor: pointer;

    &:hover {
      background: $dirty-blue;
      color: $white;
    }
  }
}

.autocomplete {
  display: inline-block;
  margin-left: 30px;
  width: 60%;
  position: relative;

  &:before {
    content: '\f002';
    font: 18px FontAwesome;
    position: absolute;
    left: -25px;
    line-height: 25px;
    color: $gray;
  }

  &:hover:before {
    color: $dark-dirty-blue;
  }
}

.proposal-button {
  background: $dirty-blue;
  border: none;
  height: 40px;
  padding: 5px 10px;
  color: $white;
  text-transform: uppercase;
  transition: background 0.5s;
  cursor: pointer;
  margin-left: 10px;

  &:hover {
    background: $dark-dirty-blue;
  }
}

.position-candidates-dashboard {
  margin-top: 30px;
  box-shadow: 0 2px 5px 1px $light-gray;
}

.table-row {
  box-sizing: border-box;
  border-bottom: 1px solid #e0e0e0;
  border-collapse: collapse;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  transition: background 0.2s;

  &:not(.header):hover {
    background: lighten($light-gray, 20%);
  }
}

.header {
  background-color: $gray;
  color: $white;
  font-size: 20px;

  .column:hover {
    background: lighten($gray, 10%);
  }

  .column:not(:last-child) {
    border-right: 1px solid $white;
  }
}

.column {
  flex-grow: 0;
  vertical-align: top;
  padding: 5px 10px;
  transition: background 0.3s;
}

.candidate-name {
  width: $position-code-column;
  flex-grow: 0;
  flex-shrink: 0;
  vertical-align: top;
}

.candidate-status {
  width: $position-name-column;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 4px;
}

.position {
  width: $project-column;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 4px;
}

.project {
  width: $salary-column;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 4px;
}

.primary-skill {
  width: $description-column;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px;
}