@import '../../../assets/styles/colors';
@import '../../../assets/styles/sizes';

.employee-dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: $white-gray;
}

.employee-dashboard-title {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 24px;
  color: $dark-dirty-blue;
}

.employee-dashboard-nav {
  display: flex;
  justify-content: flex-end;
}

.create-employee-button {
  background: $white;
  border: 1px dashed $dark-dirty-blue;
  height: 40px;
  padding: 5px 10px;
  color: $dark-dirty-blue;
  text-transform: uppercase;
  transition: background 0.5s;
  cursor: pointer;

  &:hover {
    background: $dark-dirty-blue;
    color: $white;
  }
}

.employee-dashboard {
  margin: 10px 15px 20px;
  box-shadow: 0 2px 5px 1px $light-gray;

  .employee-dashboard-cell {
    padding: 20px;
    flex-grow: 0; -webkit-flex-grow: 0;
    flex-shrink: 0; -webkit-flex-shrink: 0;
    vertical-align: top;
  }
}

.table-row {
  box-sizing: border-box;
  border-bottom: 1px solid #e0e0e0;
  border-collapse: collapse;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  width: 100%;
  transition: background 0.2s;

  &:not(.header):hover {
    background: lighten($light-gray, 20%);
  }
}

.header {
  background-color: $gray;
  color: $white;
  font-size: 20px;

  .column:hover {
    background: lighten($gray, 10%);
  }

  .column:not(:last-child) {
    border-right: 1px solid $white;
  }
}

.column {
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  vertical-align: top;
  padding: 20px 10px;
  transition: background 0.3s;
}

.employee-name {
  width: $employee-name-column;
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  vertical-align: top;
}

.employee-status {
  width: $employee-status-column;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 4px;
}

.position {
  width: $employee-position-column;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 4px;
}

.project {
  width: $project-column;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 4px;
}

.primary-skill {
  width: $employee-primary-skill;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px;
}

