// position
$position-code-column: 150px;
$position-name-column: 300px;
$project-column: 200px;
$salary-column: 150px;
$description-column: 300px;

// applicant
$applicant-name-column: 300px;
$applicant-status-column: 150px;
$applicant-position-column: 150px;
$applicant-primary-skill: 300px;

// employee
$employee-name-column: 300px;
$employee-status-column: 150px;
$employee-position-column: 150px;
$employee-primary-skill: 300px;