<div class="info-container">
    <div class="info-board-header">
        <header>
            <h1>About Staff App</h1>
            <h3 class="author">Author: Iryna Barsukova, borsukovairina@gmail.com</h3>
        </header>
    </div>
    <div class="info-board">
        <img src="../../../assets/images/ts.png" alt="TypeScript">
        <img src="../../../assets/images/angular.png" alt="Angular">
        <img src="../../../assets/images/webpack.png" alt="Webpack">
        <img src="../../../assets/images/sass.png" alt="SASS">
        <img src="../../../assets/images/fontAwesome.jpg" alt="FontAwesome">
        <img src="../../../assets/images/tslint.png" alt="TSLint">
        <img src="../../../assets/images/chartjs.svg" alt="ChartJS">
        <img src="../../../assets/images/nodejs.png" alt="NodeJS">
        <img src="../../../assets/images/express.png" alt="Express">
        <img src="../../../assets/images/mongo.png" alt="MongoDB">
        <img src="../../../assets/images/robomongo.png" alt="RoboMongo">
        <img src="../../../assets/images/mongoose.png" alt="Mongoose">
        <img src="../../../assets/images/passportJS.png" alt="PassportJS">
        <img src="../../../assets/images/github.png" alt="GitHub">
        <img src="../../../assets/images/git.png" alt="Git">
    </div>
</div>